{% extends 'base.html' %}
{% load static %}
{ block body title %}Add Pages{% endblock %}
{% block body_block %}
		<title>Add a page to {{category.name}}</title>
</head>
<body>
		<h1>Add a Page {{category.name}}</h1>
		<form id="page_form" method='post'action='/category/{{slug}}/add-page/'>

			  {% csrf_token %}

			  {% for hidden in form.hidden_fields}
			  		  {{ hidden }}
			  {% endfor %}

			  {% for field in form.visible_fields %}
					  {{ field. errors }}
					  {{ field.help_text }}
					  {{ field }}
			  {% endfor %}

			    <input type='submit' name='submit'value='Add a Page'>

		</form>
{% endblock %}