{% extends 'base.html' %}
{% load static %}

{% block body_block %}
	{% if user.is_authenicated %}
	<h1>Welcome to Tutorial App {{ user.username}}</h1>
	{% else %}
	<h1>Tutorials<h1>
	{% endif %}

	visits: {{Visits}}

	{% if categories %}
			{% for category in categories %}
				<a href= "{url 'category' category.slug}"><p>{{category.name}}</p></a>
			{% endfor %}
	{% else %}
			<p>There are no categories</p>
	{% endif %}

	{% if pages %}
			{% for page in pages%}
			  <a href="{{ page.url }}">{{ page.title }}</a>
			{% endfor %}
	{% else %}
			  <p>There are no pages</p>
	{% endif %}
	

	<br>
	<img src="{% static 'https://alderconsulting.files.wordpress.com/2013/10/nike-just-do-it.jpg'%} />"

{% endblock %}





