{% extends 'base.html' %}
{% load static %}

{% block body_block %}

<div class="row page-header">
	<div class = "col-xs-12 col-md-6">
		{% if profile.picture %}
			<img src="{{profile.picture.url}}" class="img-responsive img-circle" style='width:150px:'>
		{% else %}
		<img src="https://i.ytimg.com/vi/0dsQq_bnk9A/maxresdefaul.jpg" class="img-responseive img-circle" style="width:150px:">
		{% endif %}
	</div>
	<div class = "col-xs-12 col-md-6">
		<h1>{{profile.user.username}}</h1>
		<br>
		{% if profile.website %}
		<h2>Check out my <a href="{{profile.website}}">website</a></h2>
		{% endif %}
		{% if profile.user == user %}
		<a href ="{% url edit_profile profile.user.username %}"> Edit Your Profile</a>
		<a href= "{% url 'settings' %}">Change Password</a>
		{% endif %}
	</div>
</div>
<div class='row'>
	<div class="col-xs-12 col-md-6">
		<h3>Pages Added:</h3>
		{% if pages %}
		<ul>
			{% for page in pages %}
			<div id='page'>
				<li>
					<a href="{% url 'goto' %}?page_id={{page.id}}">{{page.title}}</a>"
					{% if page.views > 1 %}
							{{ page.views }} views
						{% elif page.views == 1 %}
							{{ page.views }} view
						{% endif %}
						</li>
				</div>
				{% endfor %}
			</ul>
			{% else %}
			<strong>No pages currently added.</strong>
			{% endif %}
	</div>
	<div class="col-xs-12 col-md-6">
		<h3>About</h3>{{profile.user.username}}
		{% if profile.bio %}
		<p>{ profile.bio }</p>
		{% endif %}
	</div>
</div>
{% endblock %}